@using SoftwareFest.Models.Enums;
@using SoftwareFest.Pagination.Enums;
@model SoftwareFest.Pagination.Page<SoftwareFest.ViewModels.ShowProductViewModel>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disable" : "";
    var nextDisabled = !Model.HasNextPage ? "disable" : "";
    var name = ViewBag.Name;
    var type = ViewBag.Type;
    var direction = ViewBag.Direction;
}
<div class="container-all">
    <div class="products">
        <form class="formichka" method="get" asp-action="All" asp-route-name="@name" asp-route-direction="@direction" asp-route-type="@type" asp-controller="Product" asp-area="Client">
            <input placeholder="Name" name="name" value="@name" type="text" />
            <select name="direction">
                <option selected="@(SortDirection.Ascending == direction ? true: false)" value="@SortDirection.Ascending">USD$ Lowest -> Highest</option>
                <option selected="@(SortDirection.Descending == direction ? true: false)" value="@SortDirection.Descending">USD$ Highest -> Lowest</option>
            </select>
            <input class="submit-input" type="submit" value="Search" />
        </form>
        @foreach (var product in Model)
        {
            <div class="product">
                <div class="border">
                    <input type="hidden" id="productId" value="@product.Id" />
                    <div class="product-image">
                        <img id="productImage" src="@product.ImageUrl" alt="@product.Name" />
                    </div>
                    <div class="product-details">
                        <div class="name">
                            <span id="productName">@product.Name</span>
                        </div>
                        <div class="product-retailer">
                            Retailer:
                            <span id="productPrice">Retailer</span>
                        </div>
                        <div class="product-price">
                            <span id="productPrice">@($"{product.Price:f2}") $</span>
                        </div>
                        <div class="product-price">
                            <span id="ethPrice">@($"{product.EthPrice}") ETH</span>
                        </div>
                    </div>
                </div>
                <div class="btn-button">
                    <form asp-action="Details" asp-controller="Product" asp-area="Client" asp-route-id="@product.Id" method="get">
                        <input class="btn-input" type="submit" value="Details" />
                    </form>

                </div>
            </div>
        }
        <div class="next-btn">
            <a asp-area="Client" asp-action="All" asp-controller="Product" asp-route-name="@name" asp-route-direction="@direction" asp-route-pageIndex="@(Model.CurrentPage - 1)" class="genric-btn @prevDisabled">Previous</a>
            <a asp-area="Client" asp-action="All" asp-controller="Product" asp-route-name="@name" asp-route-direction="@direction" asp-route-pageIndex="@(Model.CurrentPage + 1)" class="genric-btn @nextDisabled">Next</a>
        </div>
    </div>
</div>