@using SoftwareFest.Models.Enums;
@using SoftwareFest.ViewModels;
@model ProductViewModel

<div class="product-container">
    <div class="product-container-inside">
        <section class="left-side">
            <img src="@Model.ImageUrl" />
        </section>
        <section class="right-side">
            <div class="title">
                @Model.Name
            </div>
            <div class="type">
                Type: @Model.Type.ToString()
            </div>
            <div class="description">
                @Model.Description
            </div>
            <div class="retailer">
                Retailer: @Model.BusinessName
            </div>
            <div class="price-container">
                <div class="price">
                    @($"{Model.Price:f2} $")
                </div>
            </div>
            <div class="buttons">
                @{
                    if (Model.IsMine)
                    {
                        <form class="form" method="post" asp-action="Update" asp-controller="ManageProduct" asp-area="Business" asp-route-id="@Model.Id">
                            <button type="submit" class="btn-form"><i class="fa fa-pen-to-square"></i> Update</button>
                        </form>
                        <form class="form" method="post" asp-action="Delete" asp-controller="ManageProduct" asp-area="Business" asp-route-id="@Model.Id">
                            <button type="submit" class="btn-form"><i class="fa fa-trash"></i> Delete</button>
                        </form>
                    }
                    else
                    {
                        <form class="form" method="post" asp-action="Checkout" asp-controller="Checkout" asp-area="Client" asp-route-productId="@Model.Id">
                            <button type="submit" class="btn-form"><i class="fa fa-cart-shopping"></i> Purchase</button>
                        </form>
                        <form class="form" method="post" asp-action="Delete" asp-controller="Product" asp-route-id="@Model.Id">
                            <button type="submit" class="btn-form"><i class="fa fa-cart-shopping"></i> Purchase</button>
                        </form>
                    }
                }
            </div>
            <a class="a-link" href="https://stripe.com/en-bg">Prowed by <img class="stripe-img" src="~/images/2560px-stripe_logo,_revised_2016.svg.png" /></a>
        </section>
    </div>
</div>