@using SoftwareFest.Models.Enums;
@using SoftwareFest.ViewModels;
@model ProductViewModel

<form method="post" asp-action="Add" asp-controller="Product">
    <input asp-for="@Model.Name"/>
    <input asp-for="@Model.Price"/>
    <input asp-for="@Model.Description"/>
    <select asp-for="@Model.Type">
        <option value="@ProductType.Physical">Phisical</option>
        <option value="@ProductType.Service">Service</option>
    </select>
    <input asp-for="@Model.ImageUrl" />
    <input type="submit" value="Submit"/>
</form>