@model SoftwareFest.Pagination.Page<SoftwareFest.ViewModels.ShowProductViewModel>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disable" : "";
    var nextDisabled = !Model.HasNextPage ? "disable" : "";
}
<div class="container-all">
    <div class="products">
        @foreach (var product in Model)
        {
            <div class="product">
                <div class="border">
                    <input type="hidden" id="productId" value="@product.Id" />
                    <div class="product-image">
                        <img id="productImage" src="@product.ImageUrl" alt="@product.Name" />
                    </div>
                    <div class="product-details">
                        <div class="name">
                            <span id="productName">@product.Name</span>
                        </div>
                        <div class="product-retailer">
                            Retailer: 
                            <img src="~/images/9834857.jpg" />
                            <span id="productPrice">Kur</span>
                        </div>
                        <div class="product-price">
                            <span id="productPrice">@($"{product.Price:f2}") $</span>
                        </div>
                    </div>
                </div>
                <div class="btn-button">
                    <input class="btn-input" type="submit" value="Details" />
                </div>
            </div>
        }
    </div>

    <div class="next-btn">
        <a asp-area="" asp-action="All" asp-controller="Product" asp-route-pageNumber="@(Model.CurrentPage - 1)" class="genric-btn @prevDisabled">Previous</a>
        <a asp-area="" asp-action="All" asp-controller="Product" asp-route-pageNumber="@(Model.CurrentPage + 1)" class="genric-btn @nextDisabled">Next</a>
    </div>
</div>
