@using SoftwareFest.Models.Enums;
@using SoftwareFest.ViewModels;
@model ProductViewModel

<div class="container">
    <form method="post" asp-action="Update" asp-controller="Product" enctype="multipart/form-data">
        <h1>Create listing</h1>
        <input placeholder="Name" asp-for="@Model.Name" />
        <input placeholder="Price" asp-for="@Model.Price" />
        <textarea placeholder="Description" asp-for="@Model.Description" rows="2"></textarea>
        <div class="select-clas">
            <select placeholder="Offer type" asp-for="@Model.Type">
                <option value="@ProductType.Physical">Physical</option>
                <option value="@ProductType.Service">Service</option>
            </select>
        </div>
        <input placeholder="Image" asp-for="@Model.Image" type="file" accept=".png, .jpg" />
        <input class="button" type="submit" value="Submit" />
    </form>
</div>