<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SofwareFest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SofwareFest.styles.css" asp-append-version="true" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/keyframes.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logo">
            <img src="~/images/screenshot_2023-10-27_124010-transformed.png" />
        </div>
        <nav class="navbar">
            <ul class="nav">
                <li><a href="@Url.Action("Popular", "Home")">Popular</a></li>
                <li><a href="@Url.Action("Services", "Home")">Services</a></li>
                <li><a href="@Url.Action("Offers", "Home")">Offers</a></li>
            </ul>

            <div class="account-dropdown">
                <button class="dropbtn">Account</button>
                <div class="dropdown">
                    <div class="dropdown-content">
                        <a href="@Url.Action("Profile", "Account")">Profile</a>
                        <a href="@Url.Action("Payments", "Account")">Payments</a>
                        <a href="@Url.Action("Logout", "Account")">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SofwareFest - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://js.stripe.com/v3/"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
