@using SoftwareFest.Models.Enums;
@using SoftwareFest.Pagination.Enums;
@model SoftwareFest.Pagination.Page<SoftwareFest.ViewModels.RetailerViewModel>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disable" : "";
    var nextDisabled = !Model.HasNextPage ? "disable" : "";
    var name = ViewBag.Name;
}

<div class="container-all">
    <div class="retailersa">
        <form class="formichka2" method="post" asp-action="Retailers" asp-route-name="@name" asp-controller="Retailer" asp-area="Client">
            <input name="name" value="@name" type="text" />
            <input class="searchh" type="submit" value="Search" />
        </form>
        @foreach (var retailer in Model)
        {
            <a asp-controller="Retailer" asp-action="Retailer" asp-area="Client" asp-route-retailerId="@retailer.Id" class="main-class">
                <div class="single-item">
                    <h1>@retailer.BusinessName</h1>
                    <div class="foreach">
                        @foreach (var item in retailer.Products.Take(3))
                        {
                            <div class="foreach-item">
                                <div class="texts">
                                    <p>@item.Name</p>
                                    <p>@item.Price</p>
                                </div>
                                <div class="image-foreach">
                                    <img class="image-class" src="@item.ImageUrl" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </a>
        }
        <div class="next-btn">
            <a asp-area="Client" asp-action="All" asp-controller="Product" asp-route-name="@name" asp-route-pageNumber="@(Model.CurrentPage - 1)" class="genric-btn @prevDisabled">Previous</a>
            <a asp-area="Client" asp-action="All" asp-controller="Product" asp-route-name="@name" asp-route-pageNumber="@(Model.CurrentPage + 1)" class="genric-btn @nextDisabled">Next</a>
        </div>
    </div>
</div>